# Chapter 1 - Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions

This notebook contains code accompanying Chapter 1 Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions in *Practical Discrete Mathematics* by Ryan T. White and Archana Tikayat Ray

## Functions and Relations

### The `sort()` function

In [ ]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9]
names = ['Wyatt', 'Brandon', 'Kumar', 'Eugene', 'Elise']

# Apply the sort() function to the lists
numbers.sort()
names.sort()

# Display the output
print(numbers)
print(names)

[1, 2, 3, 4, 5, 8, 9, 12]
['Brandon', 'Elise', 'Eugene', 'Kumar', 'Wyatt']

### The `shuffle()` function

In [ ]:
import random

# Set a random seed so the code is reproducible
random.seed(1)

# Run the random.shuffle() function 5 times and display the outputs
for i in range(0,5):
    numbers = [3, 1, 4, 12, 8, 5, 2, 9]
    random.shuffle(numbers)
    print(numbers)

[12, 2, 1, 5, 9, 3, 8, 4]
[4, 2, 8, 3, 1, 12, 5, 9]
[4, 5, 1, 9, 3, 8, 12, 2]
[9, 12, 2, 8, 5, 3, 4, 1]
[9, 8, 4, 3, 12, 1, 5, 2]

In [9]:
import pandas as pd

P = [True, True, False, False]
Q = [True, False, True, False]

P_and_Q = [p and q for p, q in zip(P, Q)]
P_or_Q = [p or q for p, q in zip(P, Q)]
not_P = [not p for p in P]

truth_table = {
    'P': P,
    'Q': Q,
    'P AND Q': P_and_Q,
    'P OR Q': P_or_Q,
    'NOT P': not_P
}

df = pd.DataFrame(truth_table)

print(df)

       P      Q  P AND Q  P OR Q  NOT P
0   True   True     True    True  False
1   True  False    False    True  False
2  False   True    False    True   True
3  False  False    False   False   True

Question: Request user input of a simple proposition statement. Create a truth table

In [14]:
# Define the truth values for p and q
truth_values = [True, False]

# Create a header for the truth table
print(f"{'p':<5} {'q':<5} {'p AND q':<10}")
print("-" * 20)  # Add a line separator

# Iterate over all possible truth values of p and q
for p in truth_values:
    for q in truth_values:
        result = p and q
        print(f"{str(p):<5} {str(q):<5} {str(result):<10}")

p     q     p AND q
--------------------
True  True  True
True  False False
False True  False
False False False